<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instagramclone">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <!-- Let the android system knows tha twe need to access the Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".CPathIGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstagramClone">
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="" />

        <!--All of our Activity/Screen-->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--The Intent-Filter tells us which activity that the user going to launch first-->
            <!--Originally, we have main activity, but we do not want that
                Because we don't want users to go through creating a new post
                Unless they already logged in previously. Therefore, we copy the intent filer
                from MainActivity to LoginActivity
            -->
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
            <!--TO save and access the file-->
            <!-- make sure within the application tag, otherwise app will crash with XmlResourceParser errors -->
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.codepath.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/fileprovider" />
            </provider>
    </application>

</manifest>